/* ────────────────────────────────────────────────────────────────────────────────────────── */
  @import "../omarchy/current/theme/waybar.css";
/* ────────────────────────────────────────────────────────────────────────────────────────── */
* {
  font-family:"Cartograph CF";
  background: transparent;
  border-radius: 5px;
  color: @foreground;
  font-weight: bold;
  border: none;
  padding: 0;
/* ────────────────────────────────────────────────────────────────────────────────────────── */
} tooltip {
  background: @background;
  border: 2px solid @primary;
/* ────────────────────────────────────────────────────────────────────────────────────────── */
} #workspaces button {
  border: 2px solid transparent;
  background: @background;
  margin-bottom: 14px;
  margin-right: 7px;
  margin-left: 7px;
  min-width: 20px;
/* ────────────────────────────────────────────────────────────────────────────────────────── */
} #workspaces button.active {
  border: 2px solid @primary;
  border-radius: 8px;
/* ────────────────────────────────────────────────────────────────────────────────────────── */
} #workspaces .taskbar-window {
  border: 2px solid transparent;
  padding: 8px;
/* ────────────────────────────────────────────────────────────────────────────────────────── */
} #workspaces .taskbar-window.active {
  background: @foreground;
} /* ──────────────────────────────────────────────────────────────────────────────────────── */
