/* ────────────────────────────────────────────────────────────────────────────────────────── */
* {
  scrollbar-width: none !important;
  -ms-overflow-style: none !important;
}
/* ────────────────────────────────────────────────────────────────────────────────────────── */
::-webkit-scrollbar {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
  background: transparent !important;
}
/* ────────────────────────────────────────────────────────────────────────────────────────── */
::-webkit-scrollbar-thumb {
  display: none !important;
}
/* ────────────────────────────────────────────────────────────────────────────────────────── */
