/* ────────────────────────────────────────────────────────────────────────────────────────── */
  @import url('https://refact0r.github.io/midnight-discord/build/midnight.css');
:root { /* ────────────────────────────────────────────────────────────────────────────────── */
  --font: 'figtree';
/* ────────────────────────────────────────────────────────────────────────────────────────── */
  --corner-text: 'Midnight';
/* ────────────────────────────────────────────────────────────────────────────────────────── */
  --streaming-indicator:#593695;
  --online-indicator:#23a55a;
  --idle-indicator:#f0b232;
  --dnd-indicator:#f13f43;
/* ────────────────────────────────────────────────────────────────────────────────────────── */
  --accent-1: #00aacc;                                    /* links */
  --accent-2: {{colors.primary.default.hex}};             /* general unread/mention elements, some icons when active */
  --accent-3: {{colors.primary.default.hex}};             /* accent buttons */
  --accent-4: {{colors.primary_fixed.default.hex}};       /* accent buttons when hovered */
  --accent-5: {{colors.primary_fixed.default.hex}};       /* accent buttons when clicked */
  --mention:  {{colors.on_primary.default.hex}};          /* mentions & mention messages */
  --mention-hover: {{colors.primary_container.default.hex}};   /* mentions & mention messages when hovered */
/* ────────────────────────────────────────────────────────────────────────────────────────── */
  --text-0: {{colors.on_secondary.default.hex}};          /* text on colored elements */
  --text-1: {{colors.primary_fixed.default.hex}};         /* other normally white text */
  --text-2: {{colors.primary_fixed.default.hex}};         /* headings and important text */
  --text-3: {{colors.primary_fixed.default.hex}};         /* normal text */
  --text-4: {{colors.primary.default.hex}};               /* icon buttons and channels */
  --text-5: {{colors.inverse_primary.default.hex}};       /* muted channels/chats and timestamps */
/* ────────────────────────────────────────────────────────────────────────────────────────── */
  --bg-1: {{colors.inverse_primary.default.hex}};              /* dark buttons when clicked */
  --bg-2: {{colors.secondary_container.default.hex}};   /* dark buttons */
  --bg-3: {{colors.shadow.default.hex}};                  /* spacing, secondary elements */
  --bg-4: {{colors.on_secondary_fixed.default.hex}};      /* main background color */
  --hover: {{colors.primary_container.default.hex}};           /* channels and buttons when hovered */
  --active: {{colors.primary_container.default.hex}};       /* channels and buttons when clicked or selected */
  --message-hover: {{colors.on_secondary.default.hex}};   /* messages when hovered */
/* ────────────────────────────────────────────────────────────────────────────────────────── */
  --spacing: 12px;
/* ────────────────────────────────────────────────────────────────────────────────────────── */
  --list-item-transition: 0.2s ease;  /* channels/members/settings hover transition */
  --unread-bar-transition: 0.2s ease; /* unread bar moving into view transition */
  --moon-spin-transition: 0.4s ease;  /* moon icon spin */
  --icon-spin-transition: 1s ease;    /* round icon button spin (settings, emoji, etc.) */
/* ────────────────────────────────────────────────────────────────────────────────────────── */
  --roundness-xl: 00px; /* roundness of big panel outer corners */
  --roundness-l:  00px; /* popout panels */
  --roundness-m:  00px; /* smaller panels, images, embeds */
  --roundness-s:  00px; /* members, settings inputs */
  --roundness-xs: 00px; /* channels, buttons */
  --roundness-xxs:00px; /* searchbar, small elements */
/* ────────────────────────────────────────────────────────────────────────────────────────── */
  --discord-icon: none; /* discord icon */
  --moon-icon: block;   /* moon icon */
  --moon-icon-url: url('https://upload.wikimedia.org/wikipedia/commons/c/c4/Font_Awesome_5_solid_moon.svg'); /* custom icon url */
  --moon-icon-size: auto;
/* ────────────────────────────────────────────────────────────────────────────────────────── */
  --login-bg-filter: saturate(0.3) hue-rotate(-15deg) brightness(0.4);             /* login background artwork */
  --green-to-accent-3-filter: hue-rotate(56deg) saturate(1.43);                    /* add friend page explore icon */
  --blurple-to-accent-3-filter: hue-rotate(304deg) saturate(0.84) brightness(1.2); /* add friend page school icon */
} /* ──────────────────────────────────────────────────────────────────────────────────────── */
.selected_f5eb4b,
.selected_f6f816 .link_d8bfb3 {
  color: var(--text-0) !important;
  background: var(--accent-3) !important;
} /* ──────────────────────────────────────────────────────────────────────────────────────── */
.selected_f6f816 .link_d8bfb3 * {
  color: var(--text-0) !important;
  fill: var(--text-0) !important;
} /* ──────────────────────────────────────────────────────────────────────────────────────── */
